// CONTAINER
$container-size-large: 1440px;
$container-padding-large: 0 62px;

$container-size-medium: 1024px;
$container-padding-medium: 0 30px;

$container-size-small: 760px;
$container-padding-small: 0 15px;

// COLOR
$color-primary: #2196F3;
$color-second: #1E88E5;